.month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.day {
  height: 100px;
  border: 1px solid black;
  width: 100%;
  padding: 5px;
}
.today {
  height: 100px;
  border: 1px solid black;
  background-color: black;
  color: white;
  width: 100%;
  padding: 5px;
}

.paddingDays {
  height: 100px;
  width: 100%;
  padding: 5px;
}
